body {
  font-family: sans-serif;
  flex-direction: column;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: rgba(182, 134, 2, 0.116);
  color: rgba(148, 19, 148, 0.301);
}

.navbar a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: rgb(29, 175, 119);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.footer {
  background: rgb(141, 98, 59);
  color: rgb(80, 61, 148);
  text-align: center;
  padding: 20px;
}